.game-body {
    background: url(http://subtlepatterns.com/patterns/footer_lodyas.png);
}

.layout {
    position: relative;
}

#main-board {
    width: 495px;
    margin: 0 auto;
}

.card {
    margin: 0px;
}

.zone {
    border: 1px dotted #000;
    width: 60px;
    height: 97px;
    margin: 5px;
    padding: 5px;
}

.victory {
    float: left;
}
.treasure {
    float: right;;
}
.victory .zone, .treasure .zone {
    float: none;
}
.center-board {
    float: left;
    background-color: rgba(0,0,0,0.3);
}

#player1 {
    width: 540px;
    margin: 0 auto;
    margin-top: 20px;
}

#player1 .hand {
    padding-left: 15px;
    width: 335px;
    overflow-y: scroll;
}

#player1 .play-zone {
    width: 475px;
    float: none;
    margin: 0 auto;
    overflow-y: scroll;
}

.other-player {
    clear: both;
    display: none;
}

#other-players {
    display: table;
    position: absolute;
    top: 85px;
}

#other-players .hand, #other-players .play-zone {
    float: none;
    width: 330px;
    overflow-y: scroll;
}

