.game-body {
    background: url(http://subtlepatterns.com/patterns/footer_lodyas.png);
}

.layout {
    position: relative;
}

#show-hide-other-players-btn {
    display: none;
    position: absolute;
    top: -30;
    left: 5;
}

#show-hide-other-players-btn:hover {
    cursor: pointer;
}

#main-board {
    width: 495px;
    margin: 0 auto;
}

.card {
    margin: 0px;
}

.hover {
    z-index: 999;
}

.zone {
    border: 1px dotted #000;
    width: 60px;
    height: 97px;
    margin: 5px;
    padding: 5px;
}

.n-supply {
    display: none;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    padding: 5px;
    font-size: 0.7em;
    background-color: #333;
    color: #fff;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.7);
}

.cost {
    display: none;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    padding: 5px;
    font-size: 0.7em;
    background-color: yellow;
    color: #000;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.7);
}

.supply, .deck, .discard {
    position: relative;
}

.zone.deck, .zone.discard {
    width: 70px;
}

span.label {
    color: #ccc;
    font-size: 0.75em;
    margin-bottom: 5px;
}

.victory {
    float: left;
}
.treasure {
    float: right;;
}
.victory .zone, .treasure .zone {
    float: none;
}
.center-board {
    float: left;
    background-color: rgba(0,0,0,0.3);
}

#player1 {
    width: 560px;
    margin: 0 auto;
    margin-top: 20px;
}

#player1 .zone {
    height: 110px;
}

#player1 .hand {
    padding-left: 15px;
    width: 335px;
    overflow-y: scroll;
    z-index: 2;
}

#player1 .play-zone {
    width: 435px;
    float: none;
    margin: 0 auto;
    overflow-y: scroll;
}

#player1 .player-info {
    background-color: rgba(255,255,255,0.5);
    float: left;
    font-size: 0.8em;
    padding: 5px;
}

#player1 .player-info td {
    padding: 5px;
    /*color: #ccc;*/
}

.other-player {
    clear: both;
    margin-bottom: 5px;
    border: 1px dotted #000;
}

.other-player .zone {
    border: none;
}

.other-player .hand {
    padding-left: 15px;
}

#other-players {
    z-index: 1;
    display: table;
    position: absolute;
}

#other-players .hand, #other-players .play-zone {
    float: none;
    width: 305px;
    overflow-y: scroll;
}

