@import url("http://fonts.googleapis.com/css?family=Courgette|Patua+One|Lato:300,400,700");
@import url("http://fonts.googleapis.com/css?family=Courgette|Patua+One|Lato:300,400,700");
/* line 1, scss/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 18, scss/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 23, scss/reset.scss */
body {
  line-height: 1;
}

/* line 27, scss/reset.scss */
ol, ul {
  list-style: none;
}

/* line 31, scss/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 36, scss/reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 43, scss/reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 49, scss/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 5, scss/game.scss */
.game-body {
  padding-top: 50px;
  display: table;
  height: 100%;
  width: 100%;
}

/* line 12, scss/game.scss */
.game-wrapper {
  height: 100%;
}

/* line 16, scss/game.scss */
#game-btns {
  display: inline-block;
  padding: 10px 20px;
  position: absolute;
  left: 150px;
  top: 12px;
  border-left: 1px solid #5675af;
}

/* line 25, scss/game.scss */
.zone {
  float: left;
  width: 80px;
  min-height: 100px;
  margin: 5px;
  padding: 15px;
  border: 1px dotted #ccc;
}
/* line 33, scss/game.scss */
.zone.last {
  float: right;
}

/* line 38, scss/game.scss */
.card {
  margin: 5px;
}
/* line 40, scss/game.scss */
.card.selected {
  margin-left: 3px;
  margin-top: 3px;
  border: 2px solid yellow;
  -moz-box-shadow: 0px 0px 5px yellow;
  -webkit-box-shadow: 0px 0px 5px yellow;
  box-shadow: 0px 0px 5px yellow;
}

/* line 48, scss/game.scss */
.stacked {
  position: relative;
}
/* line 50, scss/game.scss */
.stacked img.card {
  position: absolute;
}

/* line 56, scss/game.scss */
.horizontal-fan img.card {
  margin-left: -10px;
}
/* line 59, scss/game.scss */
.facing-up .horizontal-fan img.card {
  margin-right: -10px;
}

/* line 66, scss/game.scss */
.vertical-fan img.card {
  margin-bottom: -80px;
}

/* line 72, scss/game.scss */
.facing-top img.card {
  transform: rotate(180deg);
}

/* line 78, scss/game.scss */
.facing-left img.card {
  transform: rotate(90deg);
}

/* line 84, scss/game.scss */
.facing-right img.card {
  transform: rotate(270deg);
}

/* line 89, scss/game.scss */
.row {
  clear: both;
  width: 100%;
  overflow: hidden;
}

/* line 95, scss/game.scss */
.hover {
  position: absolute;
}

/* line 11, scss/index.scss */
html, body {
  height: 100%;
}

/* line 15, scss/index.scss */
body {
  font-family: "Lato", Helvetica, San-Serif;
  background-color: #eee;
  background-image: url("images/cream_pixels.png");
}

/* line 21, scss/index.scss */
h1 {
  font-weight: 300;
  font-size: 1.5em;
  margin-bottom: 10px;
}
/* line 26, scss/index.scss */
h1.bold {
  font-weight: bold;
}

/* line 31, scss/index.scss */
h2 {
  font-weight: 300;
  font-size: 1.3em;
}

/* line 36, scss/index.scss */
input[type="text"] {
  font-family: "Courgette";
  font-size: 1.5em;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
}
/* line 43, scss/index.scss */
input[type="text"]:focus {
  outline: none;
  border: 1px solid #7991bf;
  -moz-box-shadow: #becae0 0px 0px 5px;
  -webkit-box-shadow: #becae0 0px 0px 5px;
  box-shadow: #becae0 0px 0px 5px;
}

/* line 54, scss/index.scss */
#header {
  background-color: #7991bf;
  border-bottom: 1px solid #445d8e;
  padding: 20px 40px;
  position: relative;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
  z-index: 2;
}
/* line 62, scss/index.scss */
#header #github {
  position: absolute;
  top: 20px;
  right: 40px;
}
/* line 68, scss/index.scss */
#header #player-names {
  position: absolute;
  top: 53px;
  right: 50px;
  min-width: 200px;
  font-size: 0.8em;
  background-color: #e1e6f0;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
}
/* line 77, scss/index.scss */
#header #player-names li {
  padding: 5px;
  border-bottom: 1px solid #adbbd8;
}

/* line 88, scss/index.scss */
#wrapper {
  width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
}

/* line 93, scss/index.scss */
#content {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-bottom: 1px solid #999;
  -moz-box-shadow: #b3b3b3 10px 10px 15px;
  -webkit-box-shadow: #b3b3b3 10px 10px 15px;
  box-shadow: #b3b3b3 10px 10px 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 101, scss/index.scss */
#content .header {
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

/* line 112, scss/index.scss */
#open-chat-btn {
  width: 30px;
  padding-bottom: 5px;
  margin-right: 10px;
}
/* line 117, scss/index.scss */
#open-chat-btn:hover {
  cursor: pointer;
}

/* line 122, scss/index.scss */
#sidebar {
  position: fixed;
  background: white;
  width: 150px;
  padding: 5px;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 1;
  border-right: 1px solid black;
  -moz-box-shadow: -1px 0px 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 0px 5px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 0px 5px rgba(0, 0, 0, 0.75);
}
/* line 134, scss/index.scss */
#sidebar #sidebar-padding {
  height: 75px;
}

/* line 139, scss/index.scss */
#chat-box {
  border: 1px solid black;
  overflow-y: scroll;
  padding: 5px;
  margin-top: 5px;
  width: 94%;
}

/* line 148, scss/index.scss */
span.un {
  font-weight: bold;
}

/* line 152, scss/index.scss */
#chat-input {
  overflow-y: scroll;
  margin-top: 5px;
  padding: 5px;
  width: 100%;
}

/* line 160, scss/index.scss */
#chat-btn {
  margin-top: 5px;
  overflow-x: hidden;
}

/* line 166, scss/index.scss */
#eventbox {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

/* line 176, scss/index.scss */
.logo {
  color: #000;
  font-family: "Courgette";
}
/* line 180, scss/index.scss */
#header .logo {
  font-size: 2em;
  color: #fff;
  text-shadow: #445d8e 3px 3px 5px;
}

/* line 187, scss/index.scss */
.big-btn {
  color: #fff;
  text-decoration: none;
}
/* line 10, scss/mixins.scss */
.big-btn div {
  display: inline-block;
  background-color: #7991bf;
  border: 1px solid #445d8e;
  border-bottom: 2px solid #121927;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 17, scss/mixins.scss */
.big-btn div:hover {
  background-color: #4c699f;
}
/* line 22, scss/mixins.scss */
.big-btn.light {
  color: #000;
}
/* line 24, scss/mixins.scss */
.big-btn.light div {
  background-color: #becae0;
}
/* line 26, scss/mixins.scss */
.big-btn.light div:hover {
  color: #fff;
  background-color: #445d8e;
}
/* line 189, scss/index.scss */
.big-btn div {
  padding: 15px;
  margin: 10px 0;
}

/* line 195, scss/index.scss */
.small-btn {
  color: #fff;
  text-decoration: none;
}
/* line 10, scss/mixins.scss */
.small-btn div {
  display: inline-block;
  background-color: #7991bf;
  border: 1px solid #445d8e;
  border-bottom: 2px solid #121927;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 17, scss/mixins.scss */
.small-btn div:hover {
  background-color: #4c699f;
}
/* line 22, scss/mixins.scss */
.small-btn.light {
  color: #000;
}
/* line 24, scss/mixins.scss */
.small-btn.light div {
  background-color: #becae0;
}
/* line 26, scss/mixins.scss */
.small-btn.light div:hover {
  color: #fff;
  background-color: #445d8e;
}
/* line 197, scss/index.scss */
.small-btn div {
  padding: 5px 10px;
}

/* line 203, scss/index.scss */
#player-info h2 {
  color: #fff;
  font-size: 1.0em;
  padding: 5px;
}
/* line 208, scss/index.scss */
#player-info h2 span.name {
  margin-left: 5px;
  font-size: 1.2em;
}
/* line 214, scss/index.scss */
#header #player-info {
  display: inline-block;
  margin-top: -10px;
  margin-right: 50px;
  padding-right: 20px;
  border-right: 1px solid #5675af;
}
/* line 221, scss/index.scss */
#header #player-info #player-names-btn {
  text-align: right;
  color: #becae0;
  padding: 5px;
  font-size: 1em;
}
/* line 227, scss/index.scss */
#header #player-info #player-names-btn:hover {
  color: white;
  background-color: #8a9fc7;
  cursor: pointer;
}

/* line 240, scss/index.scss */
.center {
  text-align: center;
}

/* line 244, scss/index.scss */
.right {
  float: right;
}

/* line 252, scss/index.scss */
.vex-dialog-button.vex-dialog-button-primary {
  background-color: #7991bf !important;
}
