@import url("http://fonts.googleapis.com/css?family=Courgette|Patua+One");
/* line 1, scss/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 18, scss/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 23, scss/reset.scss */
body {
  line-height: 1;
}

/* line 27, scss/reset.scss */
ol, ul {
  list-style: none;
}

/* line 31, scss/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 36, scss/reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 43, scss/reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 49, scss/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 6, scss/index.scss */
body {
  font-family: Helvetica, San-Serif;
  background-color: #eee;
  background-image: url("images/cream_pixels.png");
  padding-bottom: 20px;
}

/* line 13, scss/index.scss */
h2 {
  font-weight: 300;
  font-size: 1.5em;
}

/* line 18, scss/index.scss */
#header {
  background-color: #7991bf;
  border-bottom: 1px solid #445d8e;
  padding: 20px 40px;
  margin-bottom: 50px;
  -moz-box-shadow: #999999 0px 5px 10px;
  -webkit-box-shadow: #999999 0px 5px 10px;
  box-shadow: #999999 0px 5px 10px;
}

/* line 26, scss/index.scss */
#logo {
  color: #000;
  font-family: "Courgette";
}
/* line 30, scss/index.scss */
#header #logo {
  font-size: 2em;
  color: #fff;
}

/* line 36, scss/index.scss */
#wrapper {
  width: 900px;
  margin: 0 auto;
}

/* line 40, scss/index.scss */
#content {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-bottom: 1px solid #999;
  -moz-box-shadow: #b3b3b3 10px 10px 15px;
  -webkit-box-shadow: #b3b3b3 10px 10px 15px;
  box-shadow: #b3b3b3 10px 10px 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 48, scss/index.scss */
#content .header {
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

/* line 55, scss/index.scss */
.center {
  text-align: center;
}

/* line 59, scss/index.scss */
.right {
  float: right;
}

/* line 63, scss/index.scss */
.big-btn {
  color: #fff;
  text-decoration: none;
}
/* line 66, scss/index.scss */
.big-btn div {
  display: inline-block;
  padding: 15px;
  margin: 10px 0;
  background-color: #7991bf;
  border: 1px solid #445d8e;
  border-bottom: 2px solid #121927;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 75, scss/index.scss */
.big-btn div:hover {
  background-color: #4c699f;
}

/* line 81, scss/index.scss */
.card {
  margin: 5px;
}

/* line 85, scss/index.scss */
.zone {
  float: left;
  width: 80px;
  height: 100px;
  margin: 5px;
  padding: 15px;
  border: 1px dotted #ccc;
}

/* line 94, scss/index.scss */
.zone#hand {
  width: 200px;
}

/* line 98, scss/index.scss */
.zone.last {
  float: right;
}

/* line 102, scss/index.scss */
.victory {
  float: right;
}

/* line 106, scss/index.scss */
.vertical-fan {
  height: 77%;
}

/* line 111, scss/index.scss */
.vertical-fan img {
  margin-bottom: -68px;
}

/* line 115, scss/index.scss */
.stacked img {
  position: absolute;
}

/* line 119, scss/index.scss */
.row {
  clear: both;
  width: 100%;
  overflow: hidden;
}

/* line 125, scss/index.scss */
.selected {
  border: solid;
  border-color: yellow;
}

/* line 130, scss/index.scss */
#region2 {
  height: 77%;
}