@import url("http://fonts.googleapis.com/css?family=Courgette|Patua+One|Lato:300,400,700");
/* line 1, scss/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 18, scss/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 23, scss/reset.scss */
body {
  line-height: 1;
}

/* line 27, scss/reset.scss */
ol, ul {
  list-style: none;
}

/* line 31, scss/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 36, scss/reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 43, scss/reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 49, scss/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 10, scss/index.scss */
html, body {
  height: 100%;
}

/* line 14, scss/index.scss */
body {
  font-family: "Lato", Helvetica, San-Serif;
  background-color: #eee;
  background-image: url("images/cream_pixels.png");
}

/* line 20, scss/index.scss */
h1 {
  font-weight: 300;
  font-size: 1.5em;
  margin-bottom: 10px;
}
/* line 25, scss/index.scss */
h1.bold {
  font-weight: bold;
}

/* line 30, scss/index.scss */
h2 {
  font-weight: 300;
  font-size: 1.3em;
}

/* line 35, scss/index.scss */
input[type="text"] {
  font-family: "Courgette";
  font-size: 1.5em;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
}
/* line 42, scss/index.scss */
input[type="text"]:focus {
  outline: none;
  border: 1px solid #7991bf;
  -moz-box-shadow: #becae0 0px 0px 5px;
  -webkit-box-shadow: #becae0 0px 0px 5px;
  box-shadow: #becae0 0px 0px 5px;
}

/* line 53, scss/index.scss */
#header {
  background-color: #7991bf;
  border-bottom: 1px solid #445d8e;
  padding: 20px 40px;
  position: relative;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
  z-index: 2;
}
/* line 61, scss/index.scss */
#header #github {
  position: absolute;
  top: 20px;
  right: 40px;
}
/* line 67, scss/index.scss */
#header #player-names {
  position: absolute;
  top: 53px;
  right: 50px;
  min-width: 200px;
  font-size: 0.8em;
  background-color: #e1e6f0;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
}
/* line 76, scss/index.scss */
#header #player-names li {
  padding: 5px;
  border-bottom: 1px solid #adbbd8;
}

/* line 87, scss/index.scss */
#wrapper {
  width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
}

/* line 92, scss/index.scss */
#content {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-bottom: 1px solid #999;
  -moz-box-shadow: #b3b3b3 10px 10px 15px;
  -webkit-box-shadow: #b3b3b3 10px 10px 15px;
  box-shadow: #b3b3b3 10px 10px 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 100, scss/index.scss */
#content .header {
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

/* line 111, scss/index.scss */
.logo {
  color: #000;
  font-family: "Courgette";
}
/* line 115, scss/index.scss */
#header .logo {
  font-size: 2em;
  color: #fff;
  text-shadow: #445d8e 3px 3px 5px;
}

/* line 122, scss/index.scss */
.big-btn {
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}
/* line 10, scss/mixins.scss */
.big-btn div {
  display: inline-block;
  background-color: #7991bf;
  border: 1px solid #445d8e;
  border-bottom: 2px solid #121927;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 17, scss/mixins.scss */
.big-btn div:hover {
  background-color: #4c699f;
}
/* line 124, scss/index.scss */
.big-btn div {
  padding: 15px;
  margin: 10px 0;
}

/* line 130, scss/index.scss */
.small-btn {
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}
/* line 10, scss/mixins.scss */
.small-btn div {
  display: inline-block;
  background-color: #7991bf;
  border: 1px solid #445d8e;
  border-bottom: 2px solid #121927;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 17, scss/mixins.scss */
.small-btn div:hover {
  background-color: #4c699f;
}
/* line 132, scss/index.scss */
.small-btn div {
  padding: 5px 10px;
}

/* line 138, scss/index.scss */
#player-info h2 {
  color: #fff;
  font-size: 1.0em;
  padding: 5px;
}
/* line 143, scss/index.scss */
#player-info h2 span.name {
  margin-left: 5px;
  font-size: 1.2em;
}
/* line 149, scss/index.scss */
#header #player-info {
  display: inline-block;
  margin-top: -10px;
  margin-right: 50px;
  padding-right: 20px;
  border-right: 1px solid #5675af;
}
/* line 156, scss/index.scss */
#header #player-info #player-names-btn {
  text-align: right;
  color: #becae0;
  padding: 5px;
  font-size: 1em;
}
/* line 162, scss/index.scss */
#header #player-info #player-names-btn:hover {
  color: white;
  background-color: #8a9fc7;
  cursor: pointer;
}

/* line 175, scss/index.scss */
.game-body {
  height: 100%;
}

/* line 179, scss/index.scss */
.game-wrapper {
  height: 100%;
}

/* line 183, scss/index.scss */
#start-end-btns {
  display: inline-block;
  padding: 10px 20px;
  position: absolute;
  left: 150px;
  top: 12px;
  border-left: 1px solid #5675af;
}

/* line 192, scss/index.scss */
#start-btn {
  color: #000;
  font-weight: 400;
}
/* line 195, scss/index.scss */
#start-btn div {
  background-color: #becae0;
}
/* line 197, scss/index.scss */
#start-btn div:hover {
  color: #fff;
  background-color: #445d8e;
}

/* line 204, scss/index.scss */
.card.selected {
  margin-left: 3px;
  margin-top: 3px;
  border: 2px solid yellow;
  -moz-box-shadow: 0px 0px 5px yellow;
  -webkit-box-shadow: 0px 0px 5px yellow;
  box-shadow: 0px 0px 5px yellow;
}

/* line 216, scss/index.scss */
.center {
  text-align: center;
}

/* line 220, scss/index.scss */
.right {
  float: right;
}

/* line 224, scss/index.scss */
#sidebar {
  position: fixed;
  background: white;
  height: 100%;
  top: 0px;
  z-index: 1;
  width: 150px;
  border-right: 1px solid black;
}

/* line 234, scss/index.scss */
#chat-box {
  position: fixed;
  top: 20px;
  left: 10px;
  border: 1px solid black;
  overflow-y: scroll;
}

/* line 242, scss/index.scss */
span.un {
  font-weight: bold;
}

/* line 246, scss/index.scss */
#chat-input {
  position: fixed;
  overflow-y: scroll;
}

/* line 251, scss/index.scss */
#chat-btn {
  position: fixed;
}
