<html>
    <head>
        <meta charset="utf-8">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'deckr/index.css' %}">
        <link rel="stylesheet" href="{% static 'deckr/css/vex.css' %}">
        <link rel="stylesheet" href="{% static 'deckr/css/vex-theme-top.css' %}">
        <script type="text/javascript" src="{% static 'deckr/js/socket.io.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'deckr/js/jquery-2.1.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'deckr/js/vex.min.js' %}"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
        <script type="text/javascript">vex.defaultOptions.className = 'vex-theme-top';</script>
        {% block preload %}{% endblock %}
        {% block morejs %}{% endblock %}
        {% block morecss %}{% endblock %}
        <title>{% block title %}Deckr{% endblock %}</title>
    </head>
    <body class="{% block body-classes %}{% endblock %}">
        <header id="header">
            <a href="/" style="text-decoration: none;"><span class="logo">Deckr</span></a>
            <a id="github" href="https://github.com/courageousillumination/deckr/">
                <img src="{% static 'deckr/images/GitHub-Mark-Light-32px.png' %}" />
            </a>
            {% block header %}
            {% endblock %}
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
