{% extends "deckr/base.html" %}
{% block title %}Deckr | Game{% endblock %}
{% block body-classes %}game{% endblock %}
{% block content %}
<h1>You are: {{player.nickname}}</h1>
<ul id="player_names">
  {% for name in game.player_set.all %}
    <li>{{ name }}</li>
  {% endfor %}
</ul>
<form id="destroy-game-room" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" name="submit" value="Destroy Game Room">
</form>
{% include sub_template %}
<script>
  socket.emit('join', {game_room_id: "{{game.id}}", player_id: {{player.id}}})
</script>
{% endblock %}
