{% extends "deckr/base.html" %}
{% block morejs %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'deckr/js/sockets.js' %}"></script>
<script type="text/javascript" src="{% static 'deckr/js/render.js' %}"></script>
<script type="text/javascript" src="{% static 'deckr/js/game-utils.js' %}"></script>
<script type="text/javascript" src="{% static 'deckr/js/game-room.js' %}"></script>
{% endblock %}
{% block morecss %}
<style type="text/css">{{ game_css|safe }}</style>
{% endblock %}
{% block header %}
<div id="game-btns">
    {% if player %}
      <a href="#" id="start-btn" onclick="socket.emit('start');" class="small-btn light"><div>Start</div></a>
      <a href="#" class="small-btn light" id="destroy-game-room"><div>End Game</div></a>
    {% endif %}
    <a href="#" class="small-btn light" id="leave-game-room"><div>Leave Game</div></a>
</div>
<div class="right" style="position:relative;">
<img id="open-chat-btn" src="{% static 'deckr/images/chat.png' %}">
<div id="player-info">
    {% if player %}
      <h2>Hello <span class="logo name">{{ player.nickname }}</span></h2>
    {% else %}
      <h2>You are spectating</h2>
    {% endif %}
    <div id="player-names-btn">Players (<span id="n-players">{{ game.player_set.all|length }}</span>)</div>
</div>
<ul id="player-names" style="display: none;">
  {% for name in game.player_set.all %}
    <li>{{ name }}</li>
  {% endfor %}
</ul>
{% endblock %}
{% block body %}
<div class="game-body">
    <div style="display: none;" id="staging_area"></div>
    <div id="game-wrapper">
        <div id="sidebar" style="display:none;">
            <div id="sidebar-padding"></div>
            <h3>Action feed</h3>
            <textarea readonly rows="5" id="eventbox">Welcome to the game!&#13;></textarea>
            <h3>Chat</h3>
            <div id="chat-box">
            </div>
                <textarea id="chat-input"></textarea>
                <a class="big-btn" id='chat-btn'><div>Send message</div></a>
          </div>

        {% include sub_template %}
        {% block game-wrapper %}{% endblock %}
        <script>
          {% if player %}
            socket.emit('join', {
                game_room_id: "{{game.id}}",
                player_id: {{player.id}}}
            );
          {% else %}
            socket.emit('join_as_spectator', "{{game.id}}");
          {% endif %}
          // Try to request the state if possible
          socket.emit('request_state');
          {{ game_js|safe }}
        </script>
    </div>
</div>
{% endblock %}
