{% extends "deckr/deckr.html" %}
{% block title %}Deckr | Game room for {{ game_room.game_definition }}{% endblock %}
{% block content %}
<div class="center">
    <h1 class="header bold">Your Game Room for {{ game_room.game_definition }} has been created!</h1>

    <ul id="player-names">
      {% for name in game.player_set.all %}
        <li>{{ name }}</li>
      {% endfor %}
    </ul>

    <h2>Choose your nickname</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="#" id="submit" class="big-btn"><div>Choose nickname</div></a>
    </form>
    <a href="/game_room/{{ game_room.id }}" class="big-btn"><div>Join as Spectator</div></a>

    <br />
    <br />
    Share the following URL to invite other players: <a id="game-room-url"></a>
    <script type="text/javascript">
        $("#game-room-url").attr('href', document.URL);
        $("#game-room-url").html(document.URL);
    </script>
</div>
{% endblock %}
