{% extends "deckr/base.html" %}
{% block title %}Deckr | Game room for {{ game }}{% endblock %}
{% block content %}
<h1>Welcome to game room for: {{ game }}</h1>

<ul id="player_names">
  {% for name in game.player_set.all %}
    <li>{{ name }}</li>
  {% endfor %}
</ul>

<h2>Set your nickname</h2>
<form action="{% url "deckr.join_game_room" %}" method="post">
  {% csrf_token %}
  <label>New nickname</label>:
  <input type="text" name="nickname" id="change_nickname"/>
  <input type="hidden" name="game_id" value="{{game.id}}"/>
  <input type="submit" name="submit" id="change_nickname_submit" value="Change nickname">
</form>

{% endblock %}
