{% extends "deckr/base.html" %}
{% load staticfiles %}
{% block morejs %}
<script type="text/javascript" src="{% static 'deckr/js/sockets.js' %}"></script>
<script type="text/javascript" src="{% static 'deckr/js/render.js' %}"></script>
<script type="text/javascript" src="{% static 'deckr/js/game-utils.js' %}"></script>
<script type="text/javascript" src="{% static 'deckr/js/game_room.js' %}"></script>
{% endblock %}
{% block title %}Deckr | Test Game{% endblock %}
{% block content %}
{% include sub_template %}
{% endblock %}
