.game-body {
    background: url(http://subtlepatterns.com/patterns/pool_table.png);
}

.layout {
    margin: 0 auto;
    width: 855px;
}

.zone {
    border: 1px dotted #000;
}

.victory {
    float: right;
}

.play-zone {
    height: 350px;
}