@import "compass";
@import "reset";
@import "variables";
@import "mixins";

//
// General tags
//

html,body {
    height: 100%;
}

body {
    font-family: $text-font;
    background-color: $background-color;
    background-image: $background-image;
}

h1 {
    font-weight: 300;
    font-size: 1.5em;
    margin-bottom: 10px;

    &.bold {
        font-weight: bold;
    }
}

h2 {
    font-weight: 300;
    font-size: 1.3em;
}

input[type="text"] {
    font-family: $logo-font;
    font-size: 1.5em;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;

    &:focus {
        outline: none;
        border: 1px solid $deckr;
        @include box-shadow(lighten($deckr, 20%) 0px 0px 5px);
    }
}

//
// Header
//

#header {
    background-color: $deckr;
    border-bottom: 1px solid darken($deckr, 20%);
    padding: 20px 40px;
    position: relative;
    @include box-shadow(rgba(0,0,0,0.4) 0px 5px 10px);
    z-index: 2;

    #github {
        position: absolute;
        top: 20px;
        right: 40px;
    }

    #player-names {
        position: absolute;
        top: 53px;
        right: 50px;
        min-width: 200px;
        font-size: 0.8em;
        background-color: lighten($deckr, 30%);
        @include box-shadow(rgba(0,0,0,0.4) 0px 5px 10px);

        li {
            padding: 5px;
            border-bottom: 1px solid lighten($deckr, 15%);
        }
    }
}

//
// Content
//

#wrapper {
    @include auto-margin-center($max-width);
    margin-top: 50px;
}

#content {
    background-color: $content-color;
    padding: 20px;
    border: 1px solid #ddd;
    border-bottom: 1px solid #999;
    @include box-shadow(lighten(#000, 70%) 10px 10px 15px);
    @include border-radius(5px);

    .header {
        padding-bottom: 5px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
    }
}

//
// Deckr classes
//

.logo {
    color: #000;
    font-family: $logo-font;

    #header & {
        font-size: 2em;
        color: #fff;
        @include text-shadow(darken($deckr, 20%) 3px 3px 5px);
    }
}

.big-btn {
    @include deckr-btn();
    div {
        padding: 15px;
        margin: 10px 0;
    }
}

.small-btn {
    @include deckr-btn();
    div {
        padding: 5px 10px;
    }
}

#player-info {
    h2 {
        color: #fff;
        font-size: 1.0em;
        padding: 5px;
        
        span.name {
            margin-left: 5px;
            font-size: 1.2em;
        }
    }

    #header & {
        display: inline-block;
        margin-top: -10px;
        margin-right: 50px;
        padding-right: 20px;
        border-right: 1px solid darken($deckr, 10%);

        #player-names-btn {
            text-align: right;
            color: lighten($deckr, 20%);
            padding: 5px;
            font-size: 1em;

            &:hover {
                color: lighten($deckr, 50%);
                background-color: lighten($deckr, 5%);
                cursor: pointer;
            }
        }
    }
}

//
// General game classes
//

.game-body {
    height: 100%;
}

.game-wrapper {
    height: 100%;
}

#start-end-btns {
    display: inline-block;
    padding: 10px 20px;
    position: absolute;
    left: 150px;
    top: 12px;
    border-left: 1px solid darken($deckr, 10%);
}

#start-btn {
    color: #000;
    font-weight: 400;
    div {
        background-color: lighten($deckr, 20%);
        &:hover {
            color: #fff;
            background-color: darken($deckr, 20%);
        }
    }
}

.card.selected {
    margin-left: 3px;
    margin-top: 3px;
    border: 2px solid yellow;
    @include box-shadow(0px 0px 5px yellow);
}


//
// Utility classes
//

.center {
    text-align: center;
}

.right {
    float: right;
}

#sidebar {
    position: fixed;
    background:  white;
    height:  100%;
    top: 0px;
    z-index: 1;
    width:  150px;
    border-right: 1px solid black;
}

#chat-box {
    position: fixed;
    top: 20px; // Added to height of #header in js
    left:  10px;
    border: 1px solid black;
    overflow-y: scroll;
}

span.un {
    font-weight: bold;
}

#chat-input { 
    position: fixed;
    overflow-y: scroll;
}

#chat-btn {
    position: fixed;
}