/* Everything in this file needs to be changed. These are working settings. */
form {
    text-align: center;
    margin-top: 25%;
}

input.play {
    margin-top: 30px;
    width: 5%;
    height: 5%;
}

select.games {
    width: 20%;
}

div.vertical-fan img {
    float: left;
    position: relative;
    margin-bottom: -68px;
}

.vertical-spread {
    float: left;
    width: 72px;
    height: 500px;
    padding-left: 5px;
    padding-right: 5px;
}

.row {
    width: 100%;
    overflow: hidden;
}

div.stacked img {
    position: absolute
}

.zone {
    min-height: 100px;
    min-width: 100px;
    border: solid;
    padding-top: 20px;
}