// Dimensions
$max-width: 900px;

// Colors
$deckr-purple: #7471b0;
$background-color: #eee;
$content-color: #fff;
$text-color: #333;
$btn-color: $deckr-purple;

// Fonts
@import url("http://fonts.googleapis.com/css?family=Courgette|Patua+One");
$logo-font: "Courgette";
$text-font: Helvetica, San-Serif;
$header-font: Serif;