// Dimensions
$max-width: 1200px;

// Colors
$deckr-purple: #7471b0;
$deckr-blue: #7991bf;
$deckr: $deckr-blue;

$background-color: #eee;
$background-image: url('images/cream_pixels.png');
$content-color: #fff;
$text-color: #333;
$btn-color: $deckr;

// Fonts
@import url("http://fonts.googleapis.com/css?family=Courgette|Patua+One|Lato:300,400,700");
$logo-font: "Courgette";
$text-font: "Lato", Helvetica, San-Serif;
$header-font: Serif;
