.game-body {
  background: url(http://subtlepatterns.com/patterns/pool_table.png);
}

.layout {
  margin: 0 auto;
  width: 860;
}

.center-field {
  height: 350px;
  width: 350px;
}

/** All of this should probably go in some global css file. **/


.vertical-fan {
  height: 350px;
}

.horizontal-fan {
  width: 400px;
}

zone.hand {
  overflow: scroll;
}

/*
.zone {
    float: left;
    width: 80px;
    height: 100px;
    margin: 5px;
    padding: 15px;
    border: 1px dotted #ccc;
}

.zone#hand {
    width: 200px;
    height: 300px;
}

.zone.last {
    float: right;
}

.victory {
    float: right;
}

.selected {
    border: solid;
    border-color: yellow;
}

textarea {
    overflow: scroll;
    resize: none;
}*/
